@model system_cosasapup.Models.pegues

@{
    ViewData["Title"] = "Editar Pegue";
}

<h2 class="text-2xl font-bold mb-4">Editar Pegue</h2>

<form asp-action="EditarPegue" method="post">
    <input type="hidden" asp-for="PegueId" />

    <div class="mb-3">
        <label asp-for="dueño" class="form-label">Nombre del Dueño</label>
        <input asp-for="dueño" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="comunidad" class="form-label">Comunidad</label>
        <input asp-for="comunidad" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="codigo" class="form-label">Codigo Peuge</label>
        <input asp-for="codigo" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="direccion" class="form-label">Direccion</label>
        <input asp-for="direccion" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="estado" class="form-label">Estado</label>
        <select asp-for="estado" class="form-control">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>
    </div>


    <button type="submit" class="btn btn-primary">Guardar cambios</button>
    <a asp-action="ListaPegues" class="btn btn-secondary">Cancelar</a>
</form>
